<footer th:fragment="footer">
    <!-- 배경을 전체 너비로 확장 -->
    <div class="bg-black text-gray-200 py-20 w-full">
        <div class="max-w-screen-xl mx-auto px-4">
            <div class="flex justify-between text-sm">
                <!-- 로고 및 저작권 -->
                <div>
                    <img src="/images/logo.png" alt="Logo" class="mb-4 h-52">
                    <p class="text-gray-100 text-xs">COPYRIGHTⓒGREENHEAVEN</p>
                </div>
                <!-- 회사 정보 -->
                <div>
                    <p class="text-gray-100 pb-3 font-bold">COMPANY</p>
                    <p class="text-gray-400">그린헤븐(GREENHEAVEN)</p>
                    <p class="text-gray-400">대표: 김정훈</p>
                    <p class="text-gray-400">사업자등록번호: 123-45-67890</p>
                    <p class="text-gray-400">통신판매업신고: 2025-통신판매업-1234호</p>
                    <p class="text-gray-400 pt-3">Terms Of Use | Privacy</p>
                </div>
                <!-- 연락처 및 정보 -->
                <div>
                    <p class="text-gray-100 pb-3 font-bold">CONTACT</p>
                    <p class="text-gray-100 pb-3 font-bold">
                        <i class="fa-solid fa-mobile-screen pr-2"></i>010-3379-1271
                    </p>
                    <p class="text-gray-400 pb-9">AM9 - PM6 (주말, 공휴일 휴무)</p>
                    <p class="text-gray-100 pb-3">
                        <i class="fa-regular fa-envelope pr-2"></i>rlawjggns12@gmail.com
                    </p>
                    <p class="text-gray-400">
                        <i class="fa-solid fa-location-dot pr-2"></i>대구시 북구 태전로314 KOP타워 302호
                    </p>
                </div>
                <!-- 은행 정보 및 소셜 링크 -->
                <div>
                    <p class="text-gray-100 pb-3 font-bold">BANK INFO</p>
                    <p class="text-gray-100 pb-9">대구은행 09113132635 김정훈</p>
                    <p class="text-gray-100 pb-3 font-bold">FOLLOW ME</p>
                    <!-- Follow Me 항목들을 수직으로 정렬 -->
                    <div class="flex flex-col space-y-3">
                        <a href="#" class="text-gray-100"><i class="fa-brands fa-github mr-2"></i>Github</a>
                        <a href="#" class="text-gray-100"><i class="fa-solid fa-square-rss mr-2"></i>Velog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
