<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="flex justify-between items-center pt-4 z-50 fixed top-0 left-0 w-full">
        <!-- 로고 영역 -->
        <div class="flex items-center ml-10">
            <a th:href="@{/}" href="index.html">
                <img src="/images/logo.png" alt="Logo" class="h-32 mr-5">
            </a>
        </div>

        <!-- 네비게이션 메뉴 -->
        <nav class="flex items-center justify-between w-full mr-10">
            <ul class="flex space-x-5 ml-auto">
                <!-- 일반 메뉴 항목들 -->
                <li><a th:href="@{/information}" class="text-gray-300 hover:text-gray-400 transition duration-500">기능소개</a></li>
                <li><a th:href="@{/crop}" class="text-gray-300 hover:text-gray-400 transition duration-500">작물관리</a></li>
                <li><a th:href="@{/weather}" class="text-gray-300 hover:text-gray-400 transition duration-500">기상정보</a></li>
                <li><a th:href="@{/news}" class="text-gray-300 hover:text-gray-400 transition duration-500">농업소식</a></li>
                <li><a th:href="@{/posts}" class="text-gray-300 hover:text-gray-400 transition duration-500">소통마당</a></li>

                <!-- 로그인 여부에 따른 메뉴 항목들 -->
                <li th:if="${not #authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/member/login}" href="login.html" class="text-gray-300 hover:text-gray-400 transition duration-500">로그인</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/member/profile}" href="profile.html" class="text-gray-300 hover:text-gray-400 transition duration-500">프로필</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/member/logout}" href="logout.html" class="text-gray-300 hover:text-gray-400 transition duration-500">로그아웃</a>
                </li>

                <!-- 추가 메뉴 항목 -->
                <li><a th:href="@{/subscription}" class="text-gray-300 hover:text-gray-400 transition duration-500">멤버쉽결제</a></li>
            </ul>
        </nav>
    </div>

    <script th:if="${#authorization.expression('isAuthenticated()')}">
        const eventSource = new EventSource('/notification/connect');

        eventSource.onmessage = function(event) {
            console.log('SSE 알림 수신 : ' + event.data);
            let data;
            try {
                data = JSON.parse(event.data);
            } catch (e) {
                // JSON이 아니면 그냥 문자열을 메시지로 처리
                data = { message: event.data };
            }
            alert('🔔 새 알림: ' + data.message);
        };

        eventSource.onerror = function() {
            console.error("SSE 연결 오류 발생");
            eventSource.close();
        };
    </script>
</header>
</html>
