<!DOCTYPE html>
<html lang="ko" class="scroll-smooth" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='회원가입')}"></head>
<body>
<!-- 헤더 포함 -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- 비밀번호 재설정 화면 시작 -->
<div class="flex items-center justify-center min-h-screen my-60">
    <div class="bg-white p-8 rounded shadow-lg max-w-md w-full">
        <form method="post" th:action="@{/user/password/reset/confirm}">
            <h2 class="text-2xl font-bold text-gray-900 text-center mb-6">비밀번호 재설정</h2>

            <!-- 정보 안내 -->
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">입력하신 정보와 일치하는 계정을 발견했습니다.</p>
            </div>
            <div class="mb-4">
                <p class="block text-gray-400 text-sm font-bold mb-2">회원정보에 등록된 아래의 이메일 주소로 임시 비밀번호를 전송하시겠습니까?</p>
                <p class="block text-gray-700 text-sm font-bold mb-2" th:text="${userEmail}"></p>
            </div>

            <!-- 숨겨진 이메일 값 전송 -->
            <input type="hidden" name="userEmail" th:value="${userEmail}"/>

            <!-- 계속 버튼 -->
            <div class="flex justify-center mt-6">
                <button class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    계속
                </button>
            </div>
        </form>
    </div>
</div>
<!-- 비밀번호 재설정 화면 끝 -->

<!-- 푸터 포함 -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
