<!DOCTYPE html>
<html lang="ko" class="scroll-smooth" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='회원탈퇴')}"></head>
<body>
<!-- 헤더 포함 -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- 회원탈퇴 화면 시작 -->
<div class="flex items-center justify-center min-h-screen my-60">
    <div class="bg-white p-8 rounded shadow-lg max-w-md w-full">
        <form method="post" th:action="@{/user/quit}">
            <h2 class="text-2xl font-bold text-gray-900 text-center mb-6">회원탈퇴</h2>

            <!-- 탈퇴 안내 메시지 -->
            <div class="mb-4">
                <p class="text-sm text-gray-700 font-bold mb-2">
                    가입된 회원정보가 모두 삭제됩니다. 탈퇴 후 같은 계정으로 재가입 시 기존에 가지고 있던 정보는 복원되지 않으며, 관련 결제 정보도 사라집니다. 회원 탈퇴를 진행하시겠습니까?
                </p>
            </div>

            <!-- 버튼들 -->
            <div class="flex justify-center mt-6">
                <!-- 취소 버튼 -->
                <a class="bg-white hover:bg-gray-100 text-gray-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline border border-gray-400 mx-4" type="button" th:href="@{/user/profile}">
                    취소
                </a>
                <!-- 탈퇴하기 버튼 -->
                <button class="bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    탈퇴하기
                </button>
            </div>
        </form>
    </div>
</div>
<!-- 회원탈퇴 화면 끝 -->

<!-- 푸터 포함 -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
